* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", "Helvetica", sans-serif;
  font-weight: 400;
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  background-color: #000000;
  max-width: 1600px;
}

a {
  text-decoration: none;
}

/* start of Header */
.header {
  width: 100%;
  background-image: url("images/stars.jpg");
  position: relative;
}
/* start of LOGO */
.header-logo img {
  margin-top: 23px;
  margin-left: 6.5%;
}
/* END of LOGO */

/* start of Menu-bar top */
.menu-bar {
  background: none;
  text-align: center;
  position: absolute;
  top: 25px;
  margin-left: 16%;
  z-index: 4;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu-bar ul li {
  width: 145px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid gray;
  font-size: 19px;
  display: table-header-group;
}

.menu-bar li:hover {
  background-color: #153552;
}

.menu-bar ul li :hover {
  border-radius: 3px;
}

.sub-menu1 {
  display: none;
  padding-top: 44px;
  width: fit-content;
}

.menu-bar ul li:hover .sub-menu1 {
  display: block;
  position: absolute;
  background: #215482;
  margin-top: 0px;
  margin-left: 0px;
}

.menu-bar ul li:hover .sub-menu1 ul {
  display: block;
  margin: 0px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
  padding: 5px;

  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li :last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover {
  border-bottom: none;
}

.sub-menu1 a {
  padding: 10px;
}
/* End of menu-bar */

/* start of Search-bar */

.menu-bar input {
  float: right;
  width: 149px;
  height: 33px;
  background: #353535;
  margin-right: -3%;
  margin-top: -0.3%;
  border-radius: 3px;
  padding: 6px;
  position: relative;
}

.menu-bar i {
  position: absolute;
  right: -2%;
  top: 5px;
  cursor: pointer;
}

#shere-icon {
  position: absolute;
  right: -5%;
  top: 0px;
  cursor: pointer;
  font-size: 20px;
}

/* End of Search-bar */

/* Start of BOT-menu */

.bot-menu {
  width: fit-content;
}

.bot-menu nav {
  margin: 0px;
}

.bot-menu ul {
  padding: 13px;
  background: #3a3a3a;
  text-align: center;
  width: 949px;
  font-size: 13px;
  height: 40px;
  position: absolute;
  top: 65%;
  left: 20%;
}

.bot-menu li {
  display: inline-block;
  border-right: 1px solid gray;
}

.bot-menu li a {
  padding: 11px 14px 12px 6px;
}

.bot-menu a:hover {
  background-color: #b8b5b5;
}
/* End of BOT-menu */

/* End of Header */
/* ----------------------------- */

/* start of Body */

/* start of First line */
.first-line {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
/* start of left line of first line*/
.first-left {
  position: relative;
}

.first-left img {
  width: 800px;
  height: 600px;
  padding-right: 23px;
}

.first-left h1 {
  position: absolute;
  bottom: 37px;
  background: #5e8cc1;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.first-left p {
  position: absolute;
  bottom: 0px;
  background: #b6b6b6;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}
.first-left p a {
  color: black;
}

.first-left h1:hover {
  background-color: #799dc6;
}

.first-left p:hover {
  background-color: #ffffffef;
}
/* End of left line of first line*/

/* start of right side of first line */

.first-right {
  position: relative;
}
/* start of top side of right sde of first line */
.first-right-top {
  position: relative;
}

.first-right-top img {
  width: 552px;
  height: 300px;
}

.first-right-top h1 {
  position: absolute;
  bottom: 37px;
  background: #5e8cc1;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.first-right-top p {
  position: absolute;
  bottom: 0px;
  background: #b6b6b6;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.first-right-top p a {
  color: black;
}

.first-right-top h1:hover {
  background-color: #799dc6;
}

.first-right-top p:hover {
  background-color: #ffffffef;
}

/* End of top side of right sde of first line */

/* start of bot side of right sde of first line */

.first-bot-bot {
  position: relative;
}

.first-bot-bot img {
  width: 552px;
  height: 300px;
}

.first-bot-bot h1 {
  position: absolute;
  bottom: 37px;
  background: #5e8cc1;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.first-bot-bot p {
  position: absolute;
  bottom: 0px;
  background: #b6b6b6;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.first-bot-bot p a {
  color: black;
}

.first-bot-bot h1:hover {
  background-color: #799dc6;
}

.first-bot-bot p:hover {
  background-color: #ffffffef;
}

/* END of bot side of right sde of first line */

/* Start of second line */
.second-line {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
/* Start of left side of second line */
.left-second-line {
  position: relative;
  padding-top: 5px;
}

.left-second-line img {
  width: 5 50px;
  height: 200px;
}

.left-second-line h1 {
  position: absolute;
  bottom: 37px;
  background: #5e8cc1;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.left-second-line p {
  position: absolute;
  bottom: 0px;
  background: #b6b6b6;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.left-second-line p a {
  color: black;
}

.left-second-line h1:hover {
  background-color: #799dc6;
}

.left-second-line p:hover {
  background-color: #ffffffef;
}
/* End of left side of second line */

/* Start of right side of second line */

.right-second-line {
  position: relative;
  padding-top: 5px;
  padding-left: 52px;
}

.right-second-line img {
  width: 650px;
  height: 200px;
}

.right-second-line h1 {
  position: absolute;
  bottom: 37px;
  background: #5e8cc1;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.right-second-line p {
  position: absolute;
  bottom: 0px;
  background: #b6b6b6;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.right-second-line p a {
  color: black;
}

.right-second-line h1:hover {
  background-color: #799dc6;
}

.right-second-line p:hover {
  background-color: #ffffffef;
}

/* End of right side of second line */

.third-line {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.center-third-line {
  position: relative;
  padding-top: 5px;
}

.center-third-line img {
  width: 1353px;
  height: 350px;
}

.center-third-line h1 {
  position: absolute;
  bottom: 37px;
  background: #5e8cc1;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.center-third-line p {
  position: absolute;
  bottom: 0px;
  background: #b6b6b6;
  font-size: 15px;
  padding: 10px;
  opacity: 0.9;
}

.center-third-line p a {
  color: black;
}

.center-third-line h1:hover {
  background-color: #799dc6;
}

.center-third-line p:hover {
  background-color: #ffffffef;
}

/* End of body */

/* Start of footer */

.footer {
  margin: 0px auto;
  max-width: 1400px;
}

/* Start of header-footer */

#header-footer {
  background-color: #15418c;
  text-align: center;
  font-family: arial;
  font-weight: 600;
  padding: 7px;
  margin-top: 15px;
  margin-left: 48px;
}

#header-footer a {
  color: white;
  text-decoration: none;
}

#header-footer:hover {
  background-color: #4c628a;
}

/* End of header-footer */

/* Start of left-footer */

.left-footer {
  display: inline-block;
}

.left-footer img {
  width: 85px;
  margin-top: 30px;
  margin-left: 10px;
  position: absolute;
}

.left-footer span {
  color: white;
  display: block;
  position: relative;
  top: 30px;
  left: 100px;
}

/* End of left-footer */

/* Start of links-footer */

.links-footer {
  position: relative;
  right: 5px;
  top: 55px;
  text-align: right;
}

.links-footer a {
  color: #5d7fb9;
  text-decoration: none;
  margin-left: 10px;
  font-family: Helvetica;
  font-size: 0.9em;
}

.links-footer :hover{
  text-decoration: underline;

}

/* End of links-footer */
/* End of footer */
